:host {
    display: block;
    height: 100vh;
    background-color: #fff;
}

.with-toolbar-padding-bottom {
    background-color: #fff;
}

.promotion-card {
    font-family: Roboto,"Helvetica Neue",sans-serif;
    background-color: #fff;
    position: relative;
    padding: 0 1.9rem;
    text-align: center;

    .promotion-title {
        font-weight: bold;
        font-size: 1.2rem;
    }

    .white {
        color: white;
    }
}

.triangle-theme {
    border-style: solid;
    border-width: 40px 100vw 0 0;
    border-color: white gold transparent transparent;
    transform: scale(1.0001);    
}

.triangle-theme-reverse {
    border-style: solid;
    border-width: 40px 100vw 0 0;
    border-color: gold white transparent transparent;
    transform: scale(1.0001);    
}