<app-header fixedHeight="true"></app-header>
<app-logo></app-logo>

<div class="with-toolbar-padding-bottom">
    <h2 class="after-logo-padding-top-3" [style.color]="s.config.design ? s.config.design.titlesColor : null">{{ 'PROMOTIONS.TITLE' | translate }}</h2>
    <div *ngIf="loader.closed && (!promotions || promotions.length === 0)" class="text-align-center">
        <h3>{{ 'PROMOTIONS.NO_PROMOTION' | translate }}</h3>
    </div>
    
    <app-spinner [loader]="loader"></app-spinner>
    
    <div *ngIf="promotions && promotions.length > 0">
        <div *ngFor="let promotion of promotions; let i = index">
            <div class="triangle-theme" *ngIf="i % 2 == 1" [style.borderColor]="getBorderColor() | safeStyle">
            </div>
            <div class="promotion-card" [style.backgroundColor]="getColor(i, true) | safeStyle">
                <div class="promotion-title">
                    {{ promotion.name }}
                </div>
                <div *ngIf="multipleMerchants">{{ promotion.merchantName }}</div>
                <div class="promotion-date" [style.color]="getTitlesColor(i) | safeStyle">
                    {{ 'PROMOTIONS.UNTIL' | translate }} {{ promotion.toDate | localeDate }}
                </div>
                <div class="promotion-details">
                    {{ promotion.details }}
                </div>
            </div>
            <div class="triangle-theme-reverse" *ngIf="i % 2 == 1" [style.borderColor]="getBorderColor(true) | safeStyle">
            </div>
        </div>
    </div>
</div>
    