<app-header fixedHeight="true"></app-header>
<app-logo></app-logo>

<div class="with-toolbar-padding-bottom text-align-center contact-panel after-logo-padding-top-3">
    <a mat-fab color="primary" href="tel:{{s.config.contactPage.data1}}"
        [style.backgroundColor]="s.config.design ? s.config.design.buttonsColor : null">
        <i class="fa fa-phone fa-2x" aria-hidden="true"></i>
    </a>
    <button *ngIf="s.config && s.config.contactPage && s.config.contactPage.data2" mat-fab color="primary"
            [style.backgroundColor]="s.config.design ? s.config.design.buttonsColor : null" (click)="openEmailDialog()">
        <i class="fa fa-envelope-o fa-2x" aria-hidden="true"></i>
    </button>

    <div>
        <a *ngIf="s.config && s.config.facebook" mat-mini-fab color="primary" [href]="s.config.facebook"
            [style.backgroundColor]="s.config.design ? s.config.design.buttonsColor : null" target="_blank">
            <i class="fa fa-facebook fa-lg" aria-hidden="true"></i>
        </a>
        <a *ngIf="s.config && s.config.instagram" mat-mini-fab color="primary" [href]="s.config.instagram"
            [style.backgroundColor]="s.config.design ? s.config.design.buttonsColor : null" target="_blank">
            <i class="fa fa-instagram fa-lg" aria-hidden="true"></i>
        </a>
        <a *ngIf="s.config && s.config.snapchatLink" mat-mini-fab color="primary" [href]="s.config.snapchatLink"
            [style.backgroundColor]="s.config.design ? s.config.design.buttonsColor : null" target="_blank">
            <i class="fa fa-snapchat-ghost fa-lg" aria-hidden="true"></i>
        </a>
        <a *ngIf="s.config && s.config.twitter" mat-mini-fab color="primary" [href]="s.config.twitter"
            [style.backgroundColor]="s.config.design ? s.config.design.buttonsColor : null" target="_blank">
            <i class="fa fa-twitter fa-lg" aria-hidden="true"></i>
        </a>
        <a *ngIf="s.config && s.config.linkedIn" mat-mini-fab color="primary" [href]="s.config.linkedIn"
            [style.backgroundColor]="s.config.design ? s.config.design.buttonsColor : null" target="_blank">
            <i class="fa fa-linkedin fa-lg" aria-hidden="true"></i>
        </a>
    </div>
 
    <div *ngIf="s.config && s.config.contactPage && s.config.contactPage.timeTable && s.config.contactPage.timeTable.length > 0">
        <h3>{{ 'CONTACT.TIMINGS' | translate }}</h3>
        <table class="mdl-data-table">
            <tbody>
                <tr *ngFor="let weekDay of s.weekDays; let i = index">
                    <td class="day">{{weekDay.name}}</td>
                    <td [colSpan]="s.config.contactPage.timeTable[i].nonStop ? 2 : 1">
                        <div *ngIf="s.config.contactPage.timeTable[i].morningTime">
                            {{applyMask(s.config.contactPage.timeTable[i].morningTime)}}
                        </div>
                        <div *ngIf="!s.config.contactPage.timeTable[i].morningTime">
                            {{ 'CONTACT.CLOSED' | translate }}
                        </div>
                    </td>
                    <td *ngIf="!s.config.contactPage.timeTable[i].nonStop">
                        <div *ngIf="s.config.contactPage.timeTable[i].afternoonTime">
                            {{applyMask(s.config.contactPage.timeTable[i].afternoonTime)}}
                        </div>
                        <div *ngIf="!s.config.contactPage.timeTable[i].afternoonTime">
                            {{ 'CONTACT.CLOSED' | translate }}
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>