<app-top-toolbar title="Our concept"></app-top-toolbar>
<!--<app-spinner [loader]="loader"></app-spinner>-->

<div *ngIf="s.config" class="with-toolbar-padding-bottom margin-top">
    <app-concept-item *ngFor="let page of s.config.customPages" [page]="page"></app-concept-item>
    <app-concept-item [page]="s.config.locationPage">
        <div class="text-align-center">
            <p *ngIf="s.config.locationPage && s.config.locationPage.address" class="line-breaker">
                <span *ngIf="s.config.locationPage.address.addressLine1">{{ s.config.locationPage.address.addressLine1 }}</span>
                <span *ngIf="s.config.locationPage.address.addressLine2">{{ s.config.locationPage.address.addressLine2 }}</span>
                <span *ngIf="s.config.locationPage.address.city">{{ s.config.locationPage.address.city }}</span>
                <span *ngIf="s.config.locationPage.address.countryName">{{ s.config.locationPage.address.countryName }}</span>
            </p>
            <a href="tel:{{s?.config?.phoneNumber}}">
                <i class="fa fa-phone fa-lg" aria-hidden="true"></i> {{s?.config?.phoneNumber}}
            </a>
            <br />
            <br />
            <a routerLink="/contact" mat-raised-button color="primary">Contact</a>

            <br />
            <br />
            <!--<agm-map [latitude]="lat" [longitude]="lng">
                <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
            </agm-map>-->
        </div>
    </app-concept-item>
</div>