<app-top-toolbar title="Account"></app-top-toolbar>

<div class="panel with-toolbar-padding-bottom">
    <h2 class="heading">My information</h2>
    <div class="text-align-center">
        <b>{{ service?.user?.firstname }} {{ service?.user?.lastname }}</b><br />
        Card no: <b>{{ service?.user?.cardNumber }}</b>

        <app-qr-code style="margin-top:1em"></app-qr-code>

        <div *ngIf="!editing && service.user != null">            
            <span *ngIf="service.user.mobile">{{ service?.user?.mobile }}<br /></span>
            <span *ngIf="service.user.email">{{ service?.user?.email }}<br /></span>
            <span *ngIf="service.user.birthdate">Born {{ service?.user?.birthdate | date: 'dd-MM-yyyy' }}<br /></span>
            <span *ngIf="service.user.address"><br />
                <span *ngIf="service.user.address.city">{{ service?.user?.address.city }}<br /></span>
                <span *ngIf="service.user.address.addressLine1">{{ service?.user?.address.addressLine1 }}<br /></span>
                <span *ngIf="service.user.address.addressLine2">{{ service?.user?.address.addressLine2 }}<br /></span>
            </span>
        </div>

        <form *ngIf="editing" [formGroup]="form" (submit)="saveUser()">
            <mat-form-field class="full-width">
                <input matInput placeholder="Firstname" [formControl]="firstname" required>
            </mat-form-field>
            <mat-form-field class="full-width">
                <input matInput placeholder="Lastname" [formControl]="lastname" required>
            </mat-form-field>
            <mat-form-field class="full-width">
                <input matInput placeholder="Email" [formControl]="email">
                <mat-error *ngIf="email.hasError('customEmailValidator')">
                    Please enter a valid email address
                </mat-error>
            </mat-form-field>
            <mat-form-field class="full-width">
                <input matInput [matDatepicker]="picker" placeholder="Birthdate" [formControl]="birthdate">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
            <mat-form-field class="full-width">
                <input matInput placeholder="Address line 1" [formControl]="address1">
            </mat-form-field>
            <mat-form-field class="full-width">
                <input matInput placeholder="Address line 2" [formControl]="address2">
            </mat-form-field>
            <mat-form-field class="full-width">
                <input matInput placeholder="City" [formControl]="city">
            </mat-form-field>
            <br /><br />
            <button mat-raised-button type="submit" color="primary" [disabled]="loading || form.invalid">
                Submit
            </button>
            <button mat-raised-button type="button" (click)="cancelEdit()">
                Cancel
            </button>
        </form>
        
        <br /><br />
        <button *ngIf="!editing" mat-raised-button color="basic" (click)="editing = !editing">
            <i class="fa fa-pencil" aria-hidden="true"></i>&nbsp;Edit
        </button>

        <br /><br />
        <hr />
        <button mat-raised-button color="accent" (click)="logout()">
            <i class="fa fa-power-off" aria-hidden="true"></i>&nbsp;Logout
        </button>
    </div>
</div>