<app-header fixedHeight="true"></app-header>
<app-logo></app-logo>

<div class="panel with-toolbar-padding-bottom">
    <h2 class="after-logo-padding-top-3" [style.color]="s.config.design ? s.config.design.titlesColor : null">{{ 'ACCOUNT.TITLE' | translate }}</h2>        
    
    <div *ngIf="service.user">
        <div class="text-align-center">
            <app-qr-code style="margin-top:1em"></app-qr-code>
            <div class="user-name">{{ service?.user?.firstname }} {{ service?.user?.lastname }}</div>
            <div [style.color]="s.config.design ? s.config.design.titlesColor : null">
                <i class="fa fa-address-card-o" aria-hidden="true"></i>
                {{ 'ACCOUNT.CARD_NUMBER' | translate }} <b>{{ service?.user?.cardNumber }}</b>
            </div> 
            <div *ngIf="service.user && service.user.mobileNumber" [style.color]="s.config.design ? s.config.design.titlesColor : null">
                    <i class="fa fa-phone" aria-hidden="true"></i>
                    <b>{{ service?.user?.mobileNumber }}</b>
            </div>
        </div>

        <div *ngIf="!editing">
            <table>
                <tbody>
                    <tr>
                        <td class="label">{{ 'COMMON.FIRSTNAME' | translate }}</td>
                        <td class="user-value">{{ service?.user?.firstname }}</td>
                    </tr>
                    <tr>
                        <td class="label">{{ 'COMMON.LASTNAME' | translate }}</td>
                        <td class="user-value">{{ service?.user?.lastname }}</td>
                    </tr>
                    <tr>
                        <td class="label">{{ 'COMMON.PHONE' | translate }}</td>
                        <td class="user-value">{{ service?.user?.mobileNumber }}</td>
                    </tr>
                    <tr>
                        <td class="label">{{ 'COMMON.EMAIL' | translate }}</td>
                        <td class="user-value">{{ service?.user?.email }}</td>
                    </tr>
                    <tr>
                        <td class="label">{{ 'COMMON.BIRTHDATE' | translate }}</td>
                        <td class="user-value">{{ service?.user?.birthdate | date: 'dd-MM-yyyy' }}</td>
                    </tr>
                    <tr>
                        <td class="label">{{ 'COMMON.ADDRESS' | translate }}</td>
                        <td class="user-value">{{ service?.user?.address?.addressLine1 }}</td>
                    </tr>
                    <tr>
                        <td class="label">{{ 'COMMON.ADDRESS' | translate }}</td>
                        <td class="user-value">{{ service?.user?.address?.addressLine2 }}</td>
                    </tr>
                    <tr>
                        <td class="label">{{ 'COMMON.CITY' | translate }}</td>
                        <td class="user-value">{{ service?.user?.address?.city }}</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <form *ngIf="editing" [formGroup]="form" (submit)="saveUser()">
            <mat-form-field class="full-width">
                <input matInput placeholder="Firstname" [formControl]="firstname" required>
            </mat-form-field>
            <mat-form-field class="full-width">
                <input matInput placeholder="Lastname" [formControl]="lastname" required>
            </mat-form-field>
            <mat-form-field class="full-width">
                <input matInput placeholder="Email" [formControl]="email">
                <mat-error *ngIf="email.hasError('customEmailValidator')">
                    {{ 'ACCOUNT.INVALID_EMAIL' | translate }}
                </mat-error>
            </mat-form-field>
            <mat-form-field class="full-width">
                <input matInput [matDatepicker]="picker" placeholder="Birthdate" [formControl]="birthdate">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
            <mat-form-field class="full-width">
                <input matInput placeholder="Address line 1" [formControl]="address1">
            </mat-form-field>
            <mat-form-field class="full-width">
                <input matInput placeholder="Address line 2" [formControl]="address2">
            </mat-form-field>
            <mat-form-field class="full-width">
                <input matInput placeholder="City" [formControl]="city">
            </mat-form-field>
            <br /><br />
            <button mat-raised-button type="submit" color="primary" [disabled]="loading || form.invalid"
                    [style.backgroundColor]="s.config.design ? s.config.design.buttonsColor : null" style="width:50%">
                {{ 'COMMON.SUBMIT' | translate }}
            </button>
            <button mat-raised-button type="button" (click)="cancelEdit()" style="width:50%">
                {{ 'COMMON.CANCEL' | translate }}
            </button>
        </form>
        
        <br /><br />
        <button *ngIf="!editing" mat-raised-button color="primary" (click)="editing = !editing"
                class="full-width" [style.backgroundColor]="s.config.design ? s.config.design.buttonsColor : null">
            {{ 'ACCOUNT.EDIT' | translate }}
        </button>
        <br /><br />
        <hr />
        <br />
    </div>
            
    <div class="no-card" *ngIf="!service.user" [style.backgroundColor]="s.config.design ? s.config.design.buttonsColor : '#aaa'">
        <h1>{{ 'LOYALTY.DELETED' | translate }}</h1>     
    </div>

    <button mat-raised-button (click)="logout()" class="full-width">
        <i class="fa fa-power-off" aria-hidden="true"></i>&nbsp;{{ 'AUTH.LOGOUT' | translate }}
    </button>
</div>