<div fxLayout="row" *ngIf="success !== true">
    <h1 mat-dialog-title fxFlex="93%">Contact by email</h1>
    <span class="close-cross" fxFlex="7%" (click)="close()">&#10006;</span>
</div>
<div mat-dialog-content>
    <div *ngIf="success === true">
        Email sent successfully
    </div>
    <div *ngIf="success === false">
        An error occured while sending the email. Please try later.
    </div>
    <form [formGroup]="form" (submit)="submitEmail()" *ngIf="success === null">
        <mat-form-field class="full-width">
            <input tabindex="1" matInput placeholder="Email" [formControl]="email" required>
        </mat-form-field>
        <mat-form-field class="full-width">
            <textarea tabindex="2" matInput placeholder="Message" [formControl]="content" required>
            </textarea>
        </mat-form-field>
        <button class="full-width" mat-raised-button type="submit" color="primary" 
                [disabled]="loading || form.invalid">
            Submit
        </button>
    </form>
</div>
<div mat-dialog-actions *ngIf="success !== null" class="success-btn">
    <button mat-raised-button (click)="close()">Ok</button>
</div>