:host {
    display: block;
}

.fixed-height {
    height: 10rem;
    overflow: hidden;
}

.header-title {
    padding-top: 2.2em;
    text-align: center;
    margin: 0;
}

.back-button {
    left: 2rem;
    cursor: pointer;
    position: absolute;
    z-index: 999;
    top: 2.7rem;
    
    .fa {
        color: #fff;
    }
}

.picture {
    img {
        width: 100%
    }
}