:host {
    display: block;
}

.fixed-height {
    height: 10rem;
    overflow: hidden;
}

.header-title {
    padding-top: 2.2em;
    text-align: center;
    margin: 0;
}

.picture {
    img {
        width: 100%
    }
}