<app-header fixedHeight="true"></app-header>
<app-logo></app-logo>

<div *ngIf="s.config" class="with-toolbar-padding-bottom margin-top panel after-logo-padding-top-1">
    <div class="text-align-center">
        <button mat-raised-button [ngClass]="{'mat-primary': !isLocation, 'inactive': isLocation}" 
           (click)="isLocation = false" [style.backgroundColor]="!isLocation && s.config.design ? s.config.design.buttonsColor : null">
            The shop
        </button>
        <button mat-raised-button [ngClass]="{'mat-primary': isLocation, 'inactive': !isLocation}"
           (click)="isLocation = true" [style.backgroundColor]="isLocation && s.config.design ? s.config.design.buttonsColor : null">
            Our location
        </button>
    </div>
    <div *ngIf="!isLocation">
        <app-shop-page *ngFor="let page of s.config.customPages" [page]="page"></app-shop-page>    
    </div>
    <app-shop-page [page]="s.config.locationPage" *ngIf="isLocation">
            <div class="text-align-center">
                <p *ngIf="s.config.locationPage && s.config.locationPage.address">
                    <span *ngIf="s.config.locationPage.address.country">{{ s.config.locationPage.address.country.name }}<br /></span>
                    <span *ngIf="s.config.locationPage.address.state && s.config.locationPage.address.state != s.config.locationPage.address.city">
                        {{ s.config.locationPage.address.state }}<br />
                    </span>
                    <span *ngIf="s.config.locationPage.address.city">{{ s.config.locationPage.address.city }}<br /></span>
                    <span *ngIf="s.config.locationPage.address.zipCode">{{ s.config.locationPage.address.zipCode }}<br /></span>
                    <span *ngIf="s.config.locationPage.address.area">{{ s.config.locationPage.address.area }}<br /></span>
                    <span *ngIf="s.config.locationPage.address.addressLine1">{{ s.config.locationPage.address.addressLine1 }}<br /></span>
                    <span *ngIf="s.config.locationPage.address.addressLine2">{{ s.config.locationPage.address.addressLine2 }}<br /></span>
                </p>
                <a *ngIf="s.config.contactPage && s.config.contactPage.data1" href="tel:{{s.config.contactPage.data1}}">
                    <i class="fa fa-phone fa-lg" aria-hidden="true"></i> {{s.config.contactPage.data1}}
                </a>
                <br />
                <br />
                <a routerLink="/contact" mat-raised-button color="primary" 
                   [style.backgroundColor]="isLocation && s.config.design ? s.config.design.buttonsColor : null">Contact
                </a>
    
                <br />
                <br />
                <div *ngIf="s.config.locationPage && s.config.locationPage.address">
                    <agm-map [latitude]="s.config.locationPage.address.latitude" [zoom]="17"
                        [longitude]="s.config.locationPage.address.longitude">
                        <agm-marker [latitude]="s.config.locationPage.address.latitude" [longitude]="s.config.locationPage.address.longitude"></agm-marker>
                    </agm-map>
                </div>
            </div>
        </app-shop-page>
</div>