<app-header fixedHeight="true"></app-header>
<app-logo></app-logo>

<div class="with-toolbar-padding-bottom reviews-container">
    <h2 class="after-logo-padding-top-3" [style.color]="s.config.design ? s.config.design.titlesColor : null">{{ 'REVIEWS.TITLE' | translate }}</h2>        
    <div *ngIf="!loading && (!reviews || reviews.paging.itemsCount === 0)" class="text-align-center">
        <div *ngIf="user.isAuthenticated()">
            <h3>{{ 'REVIEWS.SUBMIT_FIRST' | translate }}</h3>
        </div>
        <div *ngIf="!user.isAuthenticated()">
            <h3>{{ 'REVIEWS.LOGIN_SUBMIT_FIRST' | translate }}</h3>
            <div>
                <a routerLink="/login">
                    <button mat-raised-button type="submit" color="primary"
                            [style.backgroundColor]="s.config.design ? s.config.design.buttonsColor : null">
                        {{ 'COMMON.GET_CARD' | translate }}
                    </button>
                </a>
            </div>
        </div>
    </div>
    
    <app-spinner [loader]="loader"></app-spinner>

    <div *ngIf="reviews && reviews.paging.itemsCount > 0">
        <div class="average-rating">
            <div class="total-average">
                <star-rating-comp [readOnly]="true" starType="svg" showHalfStars="true" [rating]="averageAllRatings"></star-rating-comp>
                {{ reviews.paging.totalCount }} {{ 'REVIEWS.TITLE' | translate }}
            </div>

            <div fxLayout="row">
                <star-rating-comp [readOnly]="true" starType="svg" showHalfStars="true" [rating]="averageRating1"></star-rating-comp>
                <label>{{ s.config.merchants[0].rating1ResourceKey }}</label>
            </div>
            <div fxLayout="row">
                <star-rating-comp [readOnly]="true" starType="svg" showHalfStars="true" [rating]="averageRating2"></star-rating-comp>
                <label>{{ s.config.merchants[0].rating2ResourceKey }}</label>
            </div>
            <div fxLayout="row">
                <star-rating-comp [readOnly]="true" starType="svg" showHalfStars="true" [rating]="averageRating3"></star-rating-comp>
                <label>{{ s.config.merchants[0].rating3ResourceKey }}</label>
            </div>
        </div>

        <div *ngFor="let review of reviews.data; let i = index">
            <div class="review-card" fxLayout="row" fxLayout.xs="column">
                <div fxFlex="50%" class="review-text line-breaker">
                    <span *ngIf="!s.config.anonymousReviews"><small>{{review.createdBy}} - </small></span><small>{{review.createdDate | date: 'dd-MM-yyyy HH:mm'}}</small>
                    <p>{{review.comment}}</p>
                </div>
                <div fxFlex="50%">
                    <div fxLayout="row">
                        <star-rating-comp [readOnly]="true" starType="svg" [rating]="review.rating1"></star-rating-comp>
                        <label>{{ s.config.merchants[0].rating1ResourceKey }}</label>
                    </div>
                    <div fxLayout="row">
                        <star-rating-comp [readOnly]="true" starType="svg" [rating]="review.rating2"></star-rating-comp>
                        <label>{{ s.config.merchants[0].rating2ResourceKey }}</label>
                    </div>
                    <div fxLayout="row">
                        <star-rating-comp [readOnly]="true" starType="svg" [rating]="review.rating3"></star-rating-comp>
                        <label>{{ s.config.merchants[0].rating3ResourceKey }}</label>
                    </div>
                </div>
            </div>
            <div class="triangle-theme" [style.border-top]="getBorderColor() | safeStyle">
            </div>
        </div>
    </div>

    <div *ngIf="user.isAuthenticated() && s.config">
        <button mat-fab color="primary" class="send-review-btn" (click)="openNewReviewDialog()"
                [style.backgroundColor]="s.config.design ? s.config.design.buttonsColor : null">
            <i class="fa fa-pencil fa-2x" aria-hidden="true"></i>
        </button>
    </div>
</div>