<app-header fixedHeight="true"></app-header>
<app-logo></app-logo>

<div class="with-toolbar-padding-bottom reviews-container">
    <h2 class="after-logo-padding-top-3" [style.color]="s.config.themeColor1">Reviews</h2>        
    <div *ngIf="!loading && (!reviews || reviews.paging.itemsCount === 0)" class="text-align-center">
        <div *ngIf="user.isAuthenticated()">
            <h3>
                Be the first to post a review!
            </h3>
        </div>
        <div *ngIf="!user.isAuthenticated()">
            <h3>
                Get your loyalty card and be first to post a review!
            </h3>
            <div>
                <a routerLink="/login">
                    <button mat-raised-button type="submit" color="primary"
                            [style.backgroundColor]="s.config.themeColor1">
                        Get my card
                    </button>
                </a>
            </div>
        </div>
    </div>
    
    <app-spinner [loader]="loader"></app-spinner>

    <div *ngIf="reviews && reviews.paging.itemsCount > 0">
        <div class="average-rating">
            <div class="total-average">
                <star-rating-comp [readOnly]="true" starType="svg" showHalfStars="true" [rating]="averageAllRatings"></star-rating-comp>
                {{ reviews.paging.totalCount }} reviews
            </div>

            <div fxLayout="row">
                <star-rating-comp [readOnly]="true" starType="svg" showHalfStars="true" [rating]="averageRating1"></star-rating-comp>
                <label>{{ s.config.rating1ResourceKey }}</label>
            </div>
            <div fxLayout="row">
                <star-rating-comp [readOnly]="true" starType="svg" showHalfStars="true" [rating]="averageRating2"></star-rating-comp>
                <label>{{ s.config.rating2ResourceKey }}</label>
            </div>
            <div fxLayout="row">
                <star-rating-comp [readOnly]="true" starType="svg" showHalfStars="true" [rating]="averageRating3"></star-rating-comp>
                <label>{{ s.config.rating3ResourceKey }}</label>
            </div>
        </div>

        <div *ngFor="let review of reviews.data; let i = index">
            <div class="review-card" fxLayout="row" fxLayout.xs="column">
                <div fxFlex="50%" class="review-text line-breaker">
                    <small>{{review.createdDate | date: 'dd-MM-yyyy HH:mm'}}</small>
                    <p>{{review.comment}}</p>
                </div>
                <div fxFlex="50%">
                    <div fxLayout="row">
                        <star-rating-comp [readOnly]="true" starType="svg" [rating]="review.rating1"></star-rating-comp>
                        <label>{{ s.config.rating1ResourceKey }}</label>
                    </div>
                    <div fxLayout="row">
                        <star-rating-comp [readOnly]="true" starType="svg" [rating]="review.rating2"></star-rating-comp>
                        <label>{{ s.config.rating2ResourceKey }}</label>
                    </div>
                    <div fxLayout="row">
                        <star-rating-comp [readOnly]="true" starType="svg" [rating]="review.rating3"></star-rating-comp>
                        <label>{{ s.config.rating3ResourceKey }}</label>
                    </div>
                </div>
            </div>
            <div class="triangle-theme" [style.borderColor]="s.config.themeColor1">
            </div>
        </div>

        <!-- <mat-card *ngFor="let review of reviews.data">
            <mat-card-header>
                <mat-card-title>{{review.createdDate | date: 'dd-MM-yyyy HH:mm'}}</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <p class="line-breaker">{{review.comment}}</p>
                <div fxLayout="row">
                    <star-rating-comp [readOnly]="true" starType="svg" [rating]="review.rating1"></star-rating-comp>
                    <label>{{ s.config.rating1ResourceKey }}</label>
                </div>
                <div fxLayout="row">
                    <star-rating-comp [readOnly]="true" starType="svg" [rating]="review.rating2"></star-rating-comp>
                    <label>{{ s.config.rating2ResourceKey }}</label>
                </div>
                <div fxLayout="row">
                    <star-rating-comp [readOnly]="true" starType="svg" [rating]="review.rating3"></star-rating-comp>
                    <label>{{ s.config.rating3ResourceKey }}</label>
                </div>
            </mat-card-content>
        </mat-card> -->
    </div>

    <div *ngIf="user.isAuthenticated() && s.config">
        <button mat-fab color="primary" class="send-review-btn" (click)="openNewReviewDialog()"
                [style.backgroundColor]="s.config.themeColor1">
            <i class="fa fa-pencil fa-2x" aria-hidden="true"></i>
        </button>
    </div>
</div>