@import '../styles/variables';

html, body {
    height: 100%;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    /* min-height is needed for pages that might scroll, ie they may contain _more_ than 100% of viewport height */
    min-height: 100%;
    /* needed to prevent unwanted scroll-bars */
    margin: 0;
    padding: 0;
    background-color: rgba(#333, .33) !important;
}

.mobile-alert {
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    padding-top: 20%;
}

#installdiv {
    text-align: center;
    width: 70%;
    bottom: $bottom-toolbar-height;
    position: absolute;
    z-index: 1111111111;

    div {
        background-color: #fff;
        padding: 1rem;
        position: relative;
        left: 25%;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        -webkit-box-shadow: .1em .1em .4em rgba(0, 0, 0, 0.4);
        -mox-box-shadow: .1em .1em .1em .4em rgba(0, 0, 0, 0.4);
        box-shadow: .1em .1em .4em rbga(0, 0, 0, 0.4);
    }
}

.app-container {
    margin: 0 auto;
    min-height: 100%;
}

// Loading app page styles
.app-loading {
    height: 100%;
}
#waiting{height: 100%;text-align:center;}#qrcode{width:160px;margin:1rem auto;}
#loyalty-remaining-points,#loyalty-title{color:white;}
#circle {
    margin: auto;
    top: 25px;
    position: relative;
    width: 160px;
    height: 160px;
    background: #ccc;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}
#inner-circle {
    position: absolute;
    background: #fff;
    border-radius: 50%;
    height: 140px;
    width: 140px;
    top: 50%;
    left: 50%;
    margin: -70px 0px 0px -70px;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.5);
}
///////////////////////////

h2 {
    color: $theme-color;
    text-align: center;
    font-weight: bold;
    font-size: 1.3rem;
}

a {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.full-width {
    width: 100%;
}

.margin-top {
    margin-top: 1em;
}

.error {
    color: red;
}

.line-breaker, .mat-checkbox-label {
    white-space: pre-line;
}

.mat-raised-button.inactive {
    color: gray !important;
}

.mat-raised-button.mat-primary, .mat-fab.mat-primary, .social-share-dialog .mat-dialog-container {
    background-color: $theme-color;
}

@media screen and (orientation:landscape) {
    .tile {
        padding: 0.5em 0;

        img {
            width: 20%;
            margin: 0;
        }
    }
}

// Hide the bottom bar with small height (means the keyboard is displayed)
@media screen and (max-height: 450px) {
    .bottom-toolbar {
        display: none;
    }
}

.panel {
    padding: 0 1.4rem;
    background-color: #fff;
}

.with-toolbar-padding-bottom {
    padding-bottom: $bottom-toolbar-height + 20px;
}

.after-logo-padding-top-1 {
    padding-top: 1rem !important;
}

.after-logo-padding-top-3 {
    padding-top: 3rem !important;
}

.after-logo-padding-top-5 {
    padding-top: 5rem !important;
}

.after-logo-padding-top-8 {
    padding-top: 8rem !important;
}

.theme-color {
    color: $theme-color;
}

.theme-background {
    background-color: $theme-color;
}

.text-align-center {
    text-align: center;
}

// Override angular-star-rating style
.rating {
    outline: none;

    .label-value {
        font-size: 1rem;
    }
}

// Login form
.login-form {
    .mat-form-field-ripple {
        background-color: #fff;
    }
}

// Page content links
.page-content {
    a:not(.mat-raised-button) { color: #0000EE; }
    a:hover:not(.mat-raised-button) { text-decoration: underline; }
}

// Deleted user
.no-card {
    color: #fff;
    border: none;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(130, 127, 127, 0.50);
    margin: 2rem;
    padding: 2rem;
    text-align: center;
}

@media (max-width: 600px) {
    .mat-toolbar-row {
        height: $bottom-toolbar-height;
    }
}

@media (max-width: 800px) {
    .mobile-alert {
        display: none;
    }
    .application {
        display: block;
        height: 100%;
        background: #fff;
    }
}
@media (min-width: 800px) {
    .mobile-alert {
        display: block;
    }
    .application {
        display: none;
    }
}