<div class="mobile-alert">
    {{ 'COMMON.MOBILE_ALERT' | translate }}
</div>

<div class="application">
    <div *ngIf="!s.config || userService.user === undefined" class="app-loading">
    <!-- <div class="app-loading"> -->
        <div id="waiting">
            <div *ngIf="showLoadingLogo" style="display:flex;align-items: center;height: 100%;justify-content: center;">
                <img [src]="url + 'icon/android-icon-48x48.png'" />
            </div>
            <div *ngIf="!showLoadingLogo">
                <div id="loyalty-top" [ngStyle]="{'background': cache.background }">
                    <h2 id="loyalty-title" style="padding-top: 2rem;text-align: center;margin: 0;font-weight: bold;font-size: 1.3rem;">
                        {{ cache.title }}
                    </h2>
                    <div id="circle">
                        <div id="inner-circle">
                            <div id="loyalty-points" style="font-size: 3rem;padding-top: 1.5rem;">{{ cache.currentPoints ? cache.currentPoints : 0 }}</div>
                            <div id="loyalty-subtitle" style="font-size: 1.5rem;">{{ cache.pointsLabel }}</div>
                        </div>
                    </div>
                    <div id="loyalty-remaining-points" style="width: 60%;margin: auto;padding-bottom: 15px;padding-top: 2.2rem;font-size: 16px;">
                        {{ cache.remainingPoints + ' ' + cache.pointsToGoalLabel + ' ' + cache.discountAmount +  cache.discountCurrency }}
                    </div>
                </div>
                <div id="cusname" style="margin-top: 1.2rem;font-weight: bold;font-size: 17px;">
                    {{ cache.customerName ? cache.customerName : '' }}
                </div>
                <div id="qrcode"></div>
            </div>
        </div>
    </div>

    <div class="app-container" *ngIf="s.config && userService.user !== undefined">
        <div class="module-content">
            <router-outlet></router-outlet>
        </div>
        <app-bottom-toolbar></app-bottom-toolbar>
    </div>

    <div id="installdiv" *ngIf="iOSNotStandalone()">
        <div>
            {{ 'INSTALLATION_TUTO.PRESS' | translate }}&nbsp;
            <img src="/assets/images/iOS_home.jpg" width="30"/> {{ 'INSTALLATION_TUTO.BELOW' | translate }}<br />
            {{ 'INSTALLATION_TUTO.ADD_HOME_SCREEN' | translate }}&nbsp;
            <img src="/assets/images/iOS_add_home_screen.jpg" width="30"/>
        </div>
    </div>
</div>