@import '../styles/variables';

html, body {
    height: 100%;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    /* min-height is needed for pages that might scroll, ie they may contain _more_ than 100% of viewport height */
    min-height: 100%;
    /* needed to prevent unwanted scroll-bars */
    margin: 0;
    padding: 0;
    background-color: rgba(#333, .33) !important;
}

#installdiv {
    text-align: center;
    width: 70%;
    bottom: $bottom-toolbar-height;
    position: absolute;
    z-index: 1111111111;

    div {
        background-color: #fff;
        padding: 1rem;
        position: relative;
        left: 25%;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        -webkit-box-shadow: .1em .1em .4em rgba(0, 0, 0, 0.4);
        -mox-box-shadow: .1em .1em .1em .4em rgba(0, 0, 0, 0.4);
        box-shadow: .1em .1em .4em rbga(0, 0, 0, 0.4);
    }
}

.app-container {
    margin: 0 auto;
    min-height: 100%;
}

h2 {
    color: $theme-color;
    text-align: center;
    font-weight: bold;
    font-size: 1.3rem;
}

a {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.full-width {
    width: 100%;
}

.margin-top {
    margin-top: 1em;
}

.error {
    color: red;
}

.line-breaker, .mat-checkbox-label {
    white-space: pre-line;
}

.mat-raised-button.inactive {
    color: gray !important;
}

.mat-raised-button.mat-primary, .mat-fab.mat-primary, .social-share-dialog .mat-dialog-container {
    background-color: $theme-color;
}

@media screen and (orientation:landscape) {
    .tile {
        padding: 0.5em 0;

        img {
            width: 20%;
            margin: 0;
        }
    }
}

// Hide the bottom bar with small height (means the keyboard is displayed)
@media screen and (max-height: 450px) {
    .bottom-toolbar {
        display: none;
    }
}

.panel {
    padding: 0 1.4rem;
    background-color: #fff;
}

.with-toolbar-padding-bottom {
    padding-bottom: $bottom-toolbar-height + 20px;
}

.after-logo-padding-top-1 {
    padding-top: 1rem !important;
}

.after-logo-padding-top-3 {
    padding-top: 3rem !important;
}

.after-logo-padding-top-5 {
    padding-top: 5rem !important;
}

.after-logo-padding-top-8 {
    padding-top: 8rem !important;
}

.theme-color {
    color: $theme-color;
}

.theme-background {
    background-color: $theme-color;
}

.text-align-center {
    text-align: center;
}

// Override angular-star-rating style
.rating {
    outline: none;

    .label-value {
        font-size: 1rem;
    }
}

// Login form
.login-form {
    input, .mat-form-field-label, .mat-input-placeholder, .mat-form-field-placeholder,
    .mat-focused .mat-form-field-label {
        color: #fff;
    }

    .mat-form-field-ripple {
        background-color: #fff;
    }
}

@media (max-width: 600px) {
    .mat-toolbar-row {
        height: $bottom-toolbar-height;
    }
}