:host {
    display:block;
}

app-header, .content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.background {
    height: 100vh;
    background: #FFF;
    opacity: 0.6;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.login-container {
    padding: 0 3rem;
    margin-top: 18rem;

    .login-form {
        button {
            width: 100%;
        }
    }

    .resend-btn {
        margin-top: 1rem;
        background: none!important;
        color: inherit;
        border: none;
        padding: 0 !important;
        font: inherit;
        cursor: pointer;
        color: white;
        font-weight: bold;
    }

    .resend-btn:disabled {
        color: #ccc;
    }
}