<div class="bottom-toolbar">
    <div>
        <div fxLayout="row" fxLayoutAlign="center" class="container">
            <div fxFlex routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                <a routerLink="loyaltycard">
                    <img src="assets/images/loyalty.png" width="32"/>                        
                    <!-- <i class="fa fa-vcard-o fa-lg" aria-hidden="true"></i> -->
                </a>
            </div>
            <div fxFlex routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                <a routerLink="promotion">
                    <img src="assets/images/promotion.png" width="32"/>
                    <!-- <i class="fa fa-percent fa-lg" aria-hidden="true"></i> -->
                </a>
            </div>
            <div fxFlex routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                <a routerLink="shop">
                    <img src="assets/images/shop.png" width="32"/>
                    <!-- <i class="fa fa-align-justify fa-lg" aria-hidden="true"></i> -->
                </a>
            </div>
            <div fxFlex routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                <a routerLink="contact">
                    <i class="fa fa-envelope fa-lg" aria-hidden="true"></i>
                </a>
            </div>
            <div fxFlex routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                <a routerLink="review">
                    <i class="fa fa-comment-o fa-lg" aria-hidden="true"></i>
                </a>
            </div>
            <div fxFlex>
                <a (click)="openSocialShareDialog()">
                    <i class="fa fa-share-alt fa-lg" aria-hidden="true"></i>
                </a>
            </div>
            <div fxFlex routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                <a routerLink="account">
                    <i class="fa fa-user fa-lg" aria-hidden="true"></i>
                </a>
            </div>
        </div>
    </div>
</div>