:host {
    display: block;
    z-index: 999;
    position: fixed;
    bottom: 0;
    width: 100%;
    max-width: inherit;
    height: 50px;
}

.container {
    width: 100%;
    text-align: center;
    height: 100%;
    line-height: 50px;

    .fa {
        color: #888;
    }

    a.active .fa {
        color: black;
    }
}