@import '../../../../../styles/variables';

:host {
    display: block;
    z-index: 999;
    position: fixed;
    bottom: 0;
    width: 100%;
    max-width: inherit;
    height: $bottom-toolbar-height;
}

.bottom-toolbar {
    background-color: rgba(#333, .7) !important;    
}

.container {
    width: 100%;
    text-align: center;
    height: 100%;
    line-height: $bottom-toolbar-height;

    div {
        border: 0;
        border-top: 1px solid white;
    }

    .fa {
        color: #fefefe;
    }

    .active {
        border: 0;
        border-top: 1px solid gold;
        transition: all 0.2s ease;

        .fa {
            color:gold;
            transition: all 0.2s ease;
        }
    }

    img {
        vertical-align: middle;
    }
}