<div class="bottom-toolbar">
    <div>
        <div fxLayout="row" fxLayoutAlign="center" class="container">
            <div fxFlex routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" (click)="showSubMenu = false">
                <a routerLink="/" queryParamsHandling="merge">
                    <img *ngIf="url.path().split('?')[0] !== '/'" src="/assets/images/loyalty.png" width="32"/>
                    <img *ngIf="url.path().split('?')[0] === '/'" src="/assets/images/loyalty-active.png" width="32"/>
                    <!-- <i class="fa fa-vcard-o fa-lg" aria-hidden="true"></i> -->
                </a>
            </div>
            <div fxFlex routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" (click)="showSubMenu = false">
                <a routerLink="promotion" queryParamsHandling="merge">
                    <img *ngIf="url.path().split('?')[0] !== '/promotion'" src="/assets/images/promotion.png" width="32"/>
                    <img *ngIf="url.path().split('?')[0] === '/promotion'" src="/assets/images/promotion-active.png" width="32"/>                    
                    <!-- <i class="fa fa-percent fa-lg" aria-hidden="true"></i> -->
                </a>
            </div>
            <div fxFlex routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" (click)="showSubMenu = false">
                <a routerLink="shop" queryParamsHandling="merge">
                    <img *ngIf="url.path().split('?')[0] !== '/shop'" src="/assets/images/shop.png" width="32"/>
                    <img *ngIf="url.path().split('?')[0] === '/shop'" src="/assets/images/shop-active.png" width="32"/>
                    <!-- <i class="fa fa-align-justify fa-lg" aria-hidden="true"></i> -->
                </a>
            </div>
            <div fxFlex routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" (click)="showSubMenu = false">
                <a routerLink="contact" queryParamsHandling="merge">
                    <img *ngIf="url.path().split('?')[0] !== '/contact'" src="/assets/images/contact.png" width="32"/>
                    <img *ngIf="url.path().split('?')[0] === '/contact'" src="/assets/images/contact-active.png" width="32"/>                    
                </a>
            </div>
            <div fxFlex (click)="showSubMenu = !showSubMenu">
                <img *ngIf="!showSubMenu" src="/assets/images/menu.png" width="32"/>
                <img *ngIf="showSubMenu" src="/assets/images/menu-active.png" width="32"/> 
            </div>
            <app-submenu *ngIf="showSubMenu" (closeEvent)="showSubMenu = false"></app-submenu>
        </div>
    </div>
</div>