<div class="bottom-toolbar">
    <div>
        <div fxLayout="row" fxLayoutAlign="center" class="container">
            <div fxFlex routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                <a routerLink="loyaltycard">
                    <i class="fa fa-home fa-lg" aria-hidden="true"></i>
                </a>
            </div>
            <div fxFlex routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                <a routerLink="contact">
                    <i class="fa fa-envelope fa-lg" aria-hidden="true"></i>
                </a>
            </div>
            <div fxFlex routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                <a routerLink="social">
                    <i class="fa fa-share-alt fa-lg" aria-hidden="true"></i>
                </a>
            </div>
            <div fxFlex routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                <a routerLink="account">
                    <i class="fa fa-user fa-lg" aria-hidden="true"></i>
                </a>
            </div>
        </div>
    </div>
</div>