<app-header title="Log in"></app-header>
<app-logo></app-logo>

<div class="login-panel">
    <form class="login-form" *ngIf="!isOtpStep" [formGroup]="form" (submit)="onSubmit()">
        <mat-error *ngIf="error">
            {{error}}
        </mat-error>
        <br />
        <!-- <mat-form-field class="full-width">
            <input matInput placeholder="First name" formControlName="firstname" required>
        </mat-form-field>
        <mat-form-field class="full-width">
            <input matInput placeholder="Last name" formControlName="lastname" required>
        </mat-form-field> -->
        <mat-form-field class="full-width">
            <input matInput type="text" inputmode="numeric" placeholder="Your phone number" 
                   formControlName="mobile">
        </mat-form-field>
        <button mat-raised-button type="submit" color="primary" [disabled]="loading || form.invalid">
            Log in
        </button>
    </form>

    <form *ngIf="isOtpStep" [formGroup]="otpForm" (submit)="onOtpSubmit()">
        <mat-form-field class="full-width">
            <input matInput placeholder="Code" formControlName="otpCode" required>
        </mat-form-field>
        <button mat-raised-button type="submit" color="primary" [disabled]="otpForm.invalid">
            Submit
        </button>
    </form>
</div>