<div class="background" [ngStyle]="styleBackgoundImage(s.config)"></div>        

<app-header title="{{ 'AUTH.LOGIN' | translate }}"></app-header>
<app-logo></app-logo>

<div class="content">
    <div class="login-container">
        <form class="login-form" [formGroup]="form" (submit)="sendOptCode()">
            <!-- <mat-form-field class="full-width">
                <input matInput placeholder="First name" formControlName="firstname" required>
            </mat-form-field>
            <mat-form-field class="full-width">
                <input matInput placeholder="Last name" formControlName="lastname" required>
            </mat-form-field> -->
            <mat-form-field class="full-width">
                <input matInput type="text" inputmode="numeric" placeholder="{{ 'AUTH.MOBILE_PLACEHOLDER' | translate }}" 
                        formControlName="mobile">
            </mat-form-field>
            <mat-error *ngIf="mobileError">
                {{ 'AUTH.MOBILE_ERROR' | translate }}
            </mat-error>
            <button mat-raised-button type="submit" color="primary" [disabled]="loading || form.invalid"
                    [style.backgroundColor]="s.config.design ? s.config.design.buttonsColor : null">
                {{ 'AUTH.LOGIN' | translate }}
            </button>
        </form>
    </div>
</div>