
@import '../../../../../styles/variables';

:host {
    display: block;
}

.submenu {
    position: absolute;
    background-color: $theme-color;
    width: 60px;
    bottom: 0;
    right: 0;

    .fa {
        color: #fff;
    }
}