<div class="submenu" [style.backgroundColor]="s.config.design ? s.config.design.buttonsColor : null">
    <div fxLayout="column" fxLayoutAlign="space-around center">
        <div fxFlex routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
             style="padding-top:12px">
            <a routerLink="review" queryParamsHandling="merge" (click)="close()">
                <!-- <i class="fa fa-comment-o fa-lg" aria-hidden="true"></i> -->
                <img src="assets/images/review.png" width="32"/>                
            </a>
        </div>
        <div fxFlex>
            <a (click)="openSocialShareDialog()">
                <!-- <i class="fa fa-share-alt fa-lg" aria-hidden="true"></i> -->
                <img src="assets/images/share.png" width="32"/>                
            </a>
        </div>
        <div fxFlex routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
            <a routerLink="account" queryParamsHandling="merge" (click)="close()">
                <!-- <i class="fa fa-user fa-lg" aria-hidden="true"></i> -->
                <img src="assets/images/account.png" width="32"/>                
            </a>
        </div>
    </div>
</div>
