<app-top-toolbar title="Share"></app-top-toolbar>

<div class="panel with-toolbar-padding-bottom">
    <h2>Share with your friends</h2>

    <div fxLayout="row" fxLayoutWrap fxLayoutAlign="center" fxLayoutGap="50px">
        <div fxFlex="41px">
            <a target="_blank" [href]="facebookUrl">
                <i class="fa fa-facebook-official fa-3x"></i>
            </a>
        </div>
        <div fxFlex="41px">
            <a target="_blank" [href]="twitterUrl">
                <i class="fa fa-twitter fa-3x"></i>
            </a>
        </div>
        <div fxFlex="41px">
            <a target="_blank" [href]="googlePlusUrl">
                <i class="fa fa-google-plus fa-3x"></i>
            </a>
        </div>
    </div>
</div>