:host {
    display: block;
}

app-concept-item {
    margin-bottom: .5em;
}

.concept-item {
    /*padding: 1em 1em 0 1em;*/

    .header-icons {
        margin: 0;
        padding: 0;
        float: right;

        .fa {
            padding-left: .7em;
            cursor: pointer;
        }
    }

    div[class*='level-'] {
        padding: 0 1em;
        line-height: 3em;
        color: #fff;
    }

    .level-0 {
        background-color: #aeaeae;
    }

    .level-1 {
        background-color: #666;
    }

    .level-2 {
        background-color: #333;
    }

    .page-content {
        display: block;
        padding: 1em .9em 0.5em !important;
    }
}
