<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimal-ui" id="viewport" />
  <meta name="apple-mobile-web-app-title" content="<%= htmlWebpackPlugin.options.title %>" />
  <meta name="mobile-web-app-capable" content="yes" />
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="apple-mobile-web-app-status-bar-style" content="black" />
  <title><%= htmlWebpackPlugin.options.title %></title>
  <meta name="description" content="<%= htmlWebpackPlugin.options.title %>">
  <!-- base url -->
  <base href="<%= htmlWebpackPlugin.options.metadata.baseUrl %>">
  
  <link rel="apple-touch-icon" sizes="57x57" href="/<%= htmlWebpackPlugin.options.metadata.merchant %>/icon/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="/<%= htmlWebpackPlugin.options.metadata.merchant %>/icon/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/<%= htmlWebpackPlugin.options.metadata.merchant %>/icon/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="/<%= htmlWebpackPlugin.options.metadata.merchant %>/icon/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/<%= htmlWebpackPlugin.options.metadata.merchant %>/icon/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/<%= htmlWebpackPlugin.options.metadata.merchant %>/icon/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/<%= htmlWebpackPlugin.options.metadata.merchant %>/icon/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/<%= htmlWebpackPlugin.options.metadata.merchant %>/icon/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/<%= htmlWebpackPlugin.options.metadata.merchant %>/icon/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192" href="/<%= htmlWebpackPlugin.options.metadata.merchant %>/icon/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/<%= htmlWebpackPlugin.options.metadata.merchant %>/icon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="/<%= htmlWebpackPlugin.options.metadata.merchant %>/icon/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/<%= htmlWebpackPlugin.options.metadata.merchant %>/icon/favicon-16x16.png">
  <link rel="manifest" id="manifest-file">
  
  <meta name="msapplication-TileColor" content="#00bcd4">
  <meta name="msapplication-TileImage" content="/<%= htmlWebpackPlugin.options.metadata.merchant %>/icon/ms-icon-144x144.png">
  <meta name="theme-color" content="#00bcd4">

  <style>
        html, body {height: 100%;width: 100%;font-family: Arial, Helvetica, sans-serif;}
        body {min-height: 100%;margin: 0;padding: 0;}
        #waiting{height: 100%;text-align:center;}#qrcode{width:160px;margin:1rem auto;}
        #loyalty-remaining-points,#loyalty-title{color:white;}
        #circle {
            margin: auto;
            top: 25px;
            position: relative;
            width: 160px;
            height: 160px;
            background: #ccc;
            -moz-border-radius: 50%;
            -webkit-border-radius: 50%;
            border-radius: 50%;
        }
        #inner-circle {
            position: absolute;
            background: #fff;
            border-radius: 50%;
            height: 140px;
            width: 140px;
            top: 50%;
            left: 50%;
            margin: -70px 0px 0px -70px;
            box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.5);
        }
    </style>
    
  <%= htmlWebpackPlugin.files.webpackManifest %>

  <% if (htmlWebpackPlugin.options.metadata.isDevServer && htmlWebpackPlugin.options.metadata.HMR !== true) { %>
  <!-- Webpack Dev Server reload -->
  <script src="/webpack-dev-server.js"></script>
  <% } %>

  <!-- CSS will be injected by webpack here -->
  <!-- Preload link tags will be injected by webpack here -->

</head>

<body onload="loadingLoyalty()">
    <app>
        <div id="waiting">
            <div id="logo-lading" style="display: none;align-items: center;height: 100%;justify-content: center;">
                <img src="/<%= htmlWebpackPlugin.options.metadata.merchant %>/icon/android-icon-48x48.png" />
            </div>
            <div id="loyalty-top">
                <h2 id="loyalty-title" style="padding-top: 2rem;text-align: center;margin: 0;font-weight: bold;font-size: 1.3rem;"></h2>
                <div id="circle">
                    <div id="inner-circle">
                        <div id="loyalty-points" style="font-size: 3rem;padding-top: 1.5rem;"></div>
                        <div id="loyalty-subtitle" style="font-size: 1.5rem;"></div>
                    </div>
                </div>
                <div id="loyalty-remaining-points" style="width: 60%;margin: auto;padding-bottom: 15px;padding-top: 2.2rem;font-size: 16px;"></div>
            </div>
            <div id="cusname" style="margin-top: 1.2rem;font-weight: bold;font-size: 17px;"></div>
            <div id="qrcode"></div>
        </div>
    </app>

    <script src="/assets/qrcode.min.js"></script>
    <script>
        window.AppConfig = {
            PermissionsClaim: 'http://appwards.com/claims/permissions',
            ProfileClaim: 'http://appwards.com/claims/profile',
            UserIdClaim: 'http://appwards.com/claims/profile/UserId',

            Lang: 'fr',
            ApiEndpoint: 'http://localhost/SoApp/SoAppService.svc/json',
            MerchantId: '7D280115C08D468B988E4D9A15344214'
        }
        // End config
        
        var manifest='/<%= htmlWebpackPlugin.options.metadata.merchant %>/manifest.json';if((window.navigator.userAgent.indexOf('iPhone')!=-1||window.navigator.userAgent.indexOf('iPad')!=-1)){manifest='/<%= htmlWebpackPlugin.options.metadata.merchant %>/manifest-ios.json';}document.querySelector('#manifest-file').setAttribute('href', manifest);
        function loadingLoyalty(elementId) {
            var cache = localStorage.getItem('loyaltycache-' + window.AppConfig.MerchantId);
            if (cache) {
                cache = JSON.parse(cache);
            }
            if (cache && cache.customerUrl) {
                var remainingPoints = 0;
                if (cache.currentPoints >= 0) {
                    remainingPoints = Math.max(0, cache.discountPointsThreshold - cache.currentPoints);
                }

                document.getElementById("loyalty-top").style.background = cache.background;
                document.getElementById("loyalty-title").innerText = cache.title;
                document.getElementById("loyalty-subtitle").innerText = cache.pointsLabel;
                document.getElementById("loyalty-points").innerText = cache.currentPoints ? cache.currentPoints : 0;
                document.getElementById("loyalty-remaining-points").innerText = remainingPoints + ' ' + cache.pointsToGoalLabel + ' ' + cache.discountAmount +  cache.discountCurrency;
                document.getElementById("cusname").innerText = cache.customerName ? cache.customerName : '';
                qrCode('qrcode', cache.customerUrl);
            }
            else {
                document.getElementById("loyalty-top").style.display = 'none';
                document.getElementById("logo-lading").style.display = 'flex';
            }
        }
        function qrCode(e,t){e=e?e:'qrcode';new QRCode(document.getElementById(e), {text: t,width: 160,height: 160,colorDark : "#000000",colorLight : "#ffffff",correctLevel : QRCode.CorrectLevel.L});}loadingLoyalty();
    </script>
  <!-- Scripts will be injected by webpack here -->
</body>
</html>
