<div *ngIf="s.config" class="loyalty-container">
    <div class="content">
        <div fxLayout="column" *ngIf="service.user" class="text-align-center">
            <div fxFlex="50%" [ngStyle]="styleBackgound(s.config)">
                <app-header title="{{ 'LOYALTY.TITLE' | translate }}" [color]="s.config.design && (s.config.design.backgroundImage || s.config.design.rewardsWheelColor) ? '#ffffff' : '#000000'">
                </app-header>
                <div>
                    <div id="circle">
                        <div id="inner-circle">
                            <div style="font-size: 3rem;padding-top: 1.5rem;">{{ service.user.currentPoints }}</div>
                            <div style="font-size: 1.5rem;">{{ 'LOYALTY.PTS' | translate }}</div>
                        </div>
                    </div>
                    <div class="points-goal">
                        {{ Math.max(0, s.config.discountPointsThreshold - service?.user?.currentPoints) }} {{ 'LOYALTY.POINTS_TO_GOAL' | translate }} {{ s.config.discountAmount }}{{ s.config.discountCurrency }}
                    </div>
                </div>
            </div>
            <div fxFlex="50%">
                <div class="customer-name">{{ service?.user?.firstname }} {{ service?.user?.lastname }}</div>
                <app-qr-code></app-qr-code>
            </div>
        </div>
    </div>
</div>
