:host {
    display: block;
    background-color: #fff;
    height: 100vh;
}

.points-goal {
    width: 60%;
    margin: auto;
    padding-bottom: 15px;
    padding-top: 2.2rem;
    color: #fff;
}

.customer-name {
    margin-top: 1.2rem;
    font-weight: bold;
    font-size: 17px;
}

#circle {
    margin: auto;
    top: 25px;
    position: relative;
	width: 160px;
	height: 160px;
	background: #ccc;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
}

#inner-circle {
    position: absolute;
    background: #fff;
    border-radius: 50%;
    height: 140px;
    width: 140px;
    top: 50%;
    left: 50%;
    margin: -70px 0px 0px -70px;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.5);
}