:host {
    display: block;
}

mat-card-actions {
    display: flex;
    justify-content: center;
}

.loyalty-point {
    background: #bfbfbf;
    color: #666;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    margin: 8px 4%;
    text-align: center;
    height: 34px;
    line-height: 34px;
}

.loyalty-point.active {
    @extend .loyalty-point;
    background-color: #000;
    color: #fff;
}

@media screen and (min-width: 575px) {
    .loyalty-point {
        margin: 8px 2%;
    }
}
